# ─── COMPILADOS Y ARCHIVOS BINARIOS ───────────────────────────────────
*.class

# ─── REGISTROS Y ARCHIVOS DE LOG ──────────────────────────────────────
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ─── ARCHIVOS TEMPORALES Y CACHE ──────────────────────────────────────
.mtj.tmp/
hs_err_pid*
replay_pid*

# ─── ARCHIVOS DE BLUEJ ────────────────────────────────────────────────
*.ctxt

# ─── ARCHIVOS DE PAQUETES ─────────────────────────────────────────────
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ─── DEPENDENCIAS Y DIRECTORIOS DE COMPILACIÓN ────────────────────────
node_modules/
dist/
dist-ssr/
*.local

# ─── CONFIGURACIONES DEL EDITOR ───────────────────────────────────────
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

