
body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    font-family: sans-serif;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .home-pill {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 6rem;
    border-radius: 9999px; 
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  
  .icon-container {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .icon-circle {
    width: 100px;
    height: 100px;
    background-color: #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .icon-circle:hover {
    background-color: #727272;
  }

  .icon-circle :global(svg) {
    color: #fff;
    font-size: 48px;
  }

  .user-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    overflow: hidden;
  }
  .user-circle:hover {
    background-color: #555;
  }
  
  /* Si esta logeado la foto de perfil ocupa todo el circulo */
  .user-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Si no esta logged */
  .default-icon {
    font-size: 26px;
    color: #ffffff;
  }
  