---
import Layout from "../layouts/Layout.astro";
import "../styles/home.css";
import UserCircle from "../components/UserCircle.jsx";
import { FaHome } from "react-icons/fa";
import { BotList } from "../components/BotList.tsx";

const user = null;
---

<Layout>
  <UserCircle user={user} />
  <div class="main-container">
    <div class="home-pill">
      <a href="/home" class="flex items-center">
        <FaHome className="text-white text-xl mr-2" /> Bot List
      </a>
    </div>
    <BotList client:load />
  </div>
</Layout>