---
import Layout from "../layouts/Layout.astro";
import Icons from "../components/Icons.jsx";
import "../styles/home.css";
import UserCircle from "../components/UserCircle.jsx";

const user = null;
// cuando el user este autenticado y tenga img de perfil cambiar a const user = { photoUrl: "/path/to/profile.jpg" }
---

<Layout>
  <a href="/login">
    <UserCircle user={user} />
  </a>
  <div class="main-container">
    <div class="home-pill">Home</div>
    <Icons client:load />
  </div>
</Layout>
