---
import { FaPlus, FaTrophy, FaHistory, FaRobot } from "react-icons/fa";
---

<div class="icon-container">
  <a class="icon-circle" href="/auth/createbot">
    <FaPlus className="text-white text-3xl" />
  </a>
  <a class="icon-circle" href="/auth/tournament">
    <FaTrophy className="text-white text-3xl" />
  </a>
  <a class="icon-circle" href="/auth/history">
    <FaHistory className="text-white text-3xl" />
  </a>
  <a class="icon-circle" href="/auth/bots">
    <FaRobot className="text-white text-3xl" />
  </a>
</div>
