.new-league-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;

  h1 {
    grid-column: 1 / 3;
    font-family: "Shippori Antique", sans-serif;
    font-size: 36px;
    text-align: center;

    ~ .form-field__container {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      margin-top: 20px;
    }
  }
  .new-league-form__quantity,
  .new-league-form__duration,
  .new-league-form__rounds {
    margin: 15px 0;
    border-bottom: 2px solid black;
  }

  .new-league-form__duration-input,
  .new-league-form__rounds-input,
  .new-league-form__quantity-input {
    width: 100%;
    height: 40px;
    border: none;
    text-align: center;
    font-family: "Shippori Antique", sans-serif;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  .new-league-form__quantity {
    grid-column: 1 / 2;

    &:has(.new-league-form__quantity-input:focus) {
      border-bottom-color: #6b00bd;
    }
  }
}

.new-league-form__duration {
  grid-column: 2 / 3;

  &:has(.new-league-form__duration-input:focus) {
    border-bottom-color: #6b00bd;
  }
}

.new-league-form__rounds {
  grid-column: 2 / 3;

  &:has(.new-league-form__rounds-input:focus) {
    border-bottom-color: #6b00bd;
  }
}

.new-league-form__date {
  grid-column: 1 / 2;
  margin: 15px 0;
  border-bottom: 2px solid black;

  .new-league-form__date-input {
    border: none;
    height: 40px;
    width: 100%;
    &:focus {
      outline: none;
    }
    &::-webkit-datetime-edit {
      font-family: "Shippori Antique", sans-serif;
      font-size: 16px;
      text-align: center;
    }
  }
}

.new-league-form__submit {
  grid-column: 1 / 3;
  font-size: 24px;
  width: 220px;
  height: 50px;
  color: white;
  background-color: #6b00bd;
  border-radius: 5px;
  font-family: "Shippori Antique", sans-serif;
  margin-bottom: 20px;
  transition: all 0.15s;
  justify-self: center;
  cursor: pointer;

  &:hover {
    background-color: #8e23df;
  }
}
