.leagues-page {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 75px;
    gap: 30px;
  }

  &-main-container {
    margin: 0 60px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
  }

  &-leagues-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &-league-container {
    margin: 0 auto;
  }

  &-main-title {
    font-family: "Shippori Antique", sans-serif;
    font-size: 32px;
    flex: 1;
  }

  &-new {
    font-size: 18px;
    background-color: transparent;
    border: none;
    width: 100px;
    height: 40px;
    font-family: "Shippori Antique", sans-serif;
    margin-bottom: 20px;
    transition: all 0.15s;
    cursor: pointer;
  }

  &-filters-button {
    font-size: 18px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #6b00bd;
    border-radius: 5px;
    font-family: "Shippori Antique", sans-serif;
    margin-bottom: 20px;
    transition: all 0.15s;

    &:hover {
      cursor: pointer;
      background-color: #8e23df;
    }
  }
}
