* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(253, 251, 247, 0.747);
}

main {
  width: 100%;

  @media (min-width: 980px) {
    width: 980px;
    margin: 0 auto;
  }
}

@font-face {
  font-family: "Shippori Antique";
  src: url("../fonts/Shippori_Antique/ShipporiAntique-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shippori Mincho";
  src: url("../fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
