* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(13, 6, 32);
  color: #e2e8f0;
  background-color: #121212;
}

main {
  width: 100%;
  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }
}

@font-face {
  font-family: "Shippori Antique";
  src: url("../fonts/Shippori_Antique/ShipporiAntique-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shippori Mincho";
  src: url("../fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
