@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --custom-primary: #262424;
  --custom-secondary: #D9D9D9;
  --custom-action: #3C67D6;
}

body{
  font-family: "Chakra Petch", sans-serif;
}

.custom-primary {
  background-color: var(--custom-primary);
}

.text-custom-primary{
  color: var(--custom-primary);
}

.custom-primary-dark {
  background-color: color-mix(in srgb, var(--custom-primary) 80%, black);
}

.custom-secondary {
  background-color: var(--custom-secondary);
}

.custom-action {
  background-color: var(--custom-action);
  border-color: var(--custom-action);
}
